<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Id</td>
            <td>{{id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{fname}} {{lname}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{email}}</td>
        </tr>
        <tr>
            <td>Profile Pic</td>
            <td><img src="{{image_url}}" alt=""></td>
        </tr>
    </table>
</body>
</html>